.modal {
  padding: 45px 30px 30px;
  text-align: center;

  &__title {
    color: $color-gray;
    font-size: 2.5rem;
    margin-bottom: 25px;
  }

  &__result {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  &__content {
    margin-bottom: 25px;

    p {
      font-size: 1.6rem;
      line-height: 1.4;
      margin-bottom: 10px;
    }
  }

  &__close {
    @include absolute(10px, 10px);

    .btn {
      border: 0;
      padding: 0.2em 0.45em;
    }
  }
}
